@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #252525;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #252525;
    --foreground: #fafafa;
  }
}

body {
  color: var(--background);
  background: var(--foreground);
}
